@import "../../style.scss";

.card {
	width: 100%;
	height: auto;
	box-shadow: $boxShadow;
	position: relative;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	transition: transform 0.2s;

	body.dark & {
		color: $white;
	}

	* {
		cursor: default;
	}

	&:hover {
		transform: translateY(-10px);
	}

	img {
		position: relative;
		width: 100%;
		border-radius: 5px 5px 0px 0px;
	}

	.info-content {
		padding: 20px;
		margin: auto 0px;
		display: flex;
		flex-direction: column;
	}

	h4 {
		margin-bottom: 1em;
		font-size: 0.6em;
	}

	h6 {
		font-weight: 600;
		font-size: 0.5rem;
		small {
			font-weight: 100;
			font-size: 0.9em;
		}
	}
}
